<div class="d-flex row mx-auto my-auto flex-row" style="width:100%">
    <div id="carouselMedia" class="carousel carousel-dark slide"  data-bs-ride="carousel"
         data-bs-interval="false">
        <div  id="carousel-inner" class="carousel-inner col container-fluid" role="listbox">

            {% for mediaEntity in figure.media|filter(v=> v.type.name is same as 'IMAGE') %}
                    <div class="carousel-item {{ heroPhoto == mediaEntity.url ?'active':'' }} ">
                        <div class="col-md-3">
                            {% include ('media/_show.html.twig') %}
                        </div>
                    </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev  w-aut" href="#carouselMedia" role="button"
           data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next  bg-transparent w-aut" href="#carouselMedia" role="button"
           data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

</div>
