
 <img
         style=
              "
                width:560px;
                height:auto;
                left:0px;
                top:0px;
                overflow:hidden
              "
         src="{{ asset('uploads/images/' ~ mediaEntity.url) }}"
         alt="{{ mediaEntity.name }}"/>
 <p>{{ mediaEntity.name }}</p>