{% set content = mediaEntity.type.name is same as("IMAGE")?"Image":"Video" %}
<div class="card d-flex flex-column justify-content-between" style="width: auto; height: 250px;">
    <div class="card-img">
    {% include 'media/_media_'~ content ~ '.html.twig' %}
    </div>
    <div class="card-text d-flex flex-row justify-content-evenly" >
        <a class="btn btn-warning " href="{{ path('app_media_edit', {'id': mediaEntity.id, 'slug':figure.slug }) }}">edit</a>
        {{ include('media/_delete_form.html.twig') }}
    </div>
</div>
