<div id='figures' class="container-lg">

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="text-center mb-3">
            <a href="{{ path('app_figure_new') }}" class="btn btn-primary py-3 px-5">Create a new Figure</a>
        </div>
    {% endif %}
    {% block list %}
    <div class="d-flex flex-wrap justify-content-evenly">
        {% for figure in figures %}
            {% include('figure/_card.html.twig') %}
        {% endfor %}
    </div>
    {% endblock %}
    {% if not figures %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endif %}


</div>
