{% extends 'base.html.twig' %}

{% block title %}Edit Figure{% endblock %}

{% block body %}
    <h1>Edit Figure</h1>

    {{ include('figure/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_figure_index') }}">back to list</a>



    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include('figure/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
