<h1>Reset your Password</h1>

<p>
    You have requested a password change for snowtricks !
    <a href="{{ address }}">This it the link to change your password !</a>
    If you didn't make this request please ignore this email.
</p>

<p>
    Cheers!
</p>