.homepageHero{
    height: 100vh;
    background: url('../../default/homepage.jpg') no-repeat scroll;
    background-size: cover;
    position: relative;
    top: -3rem;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}