{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}
{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{ asset('asset/homepageHero.css') }}">

{% endblock %}
{% block body %}

    <div class="homepageHero container-fluid">
        <h1>Hello</h1>
    </div>

    {% include "figure/index.html.twig" %}
{% endblock %}
