<table>
    {% for message in messages %}
        <tr>
            <th>{{ message.User.username }}{{ message.createdAt|date }}</th>
            <td>{{ message.content }}</td>
        </tr>
    {% endfor %}
</table>
