<div class="js-messages-paginator"
     data-messages="{{ messages|serialize(format = 'json') }}"></div>
<table class="js-messages-display">
</table>
<nav>
    <ul  class="pagination message-pagination">
    </ul>
</nav>
